venv/
build/
.vscode/
*.swp
*.log
.trick/
S_main_*
S_source.hh
trick.zip
S_sie.resource
log_*
*init_log.csv*
varserver_log
makefile

DP_rt_*.xml
S_job_execution
S_run_summary
send_hs
chkpnt_*
MONTE_RUN_*
.S_library*
.icg_no_found
CP_out
MAKE_out
Makefile_sim
Makefile_swig
S_document.xml
S_library_list
S_main_*
S_sie.resource
S_sie.json
S_source.cpp
S_source.hh
T_main_*
**/SIM_*/.trick
**/SIM_*/trick.zip
**/graphics/dist
**/graphics/java/dist
**/graphics/manifest
**/graphics/build
**/graphics/cpp/build
jitlib
build
*.class

config.status*
config.log
share/trick/makefiles/config_user.mk
object_*
io_src
swig
lib
lib64
lib_Linux_*
lib_Darwin_*
*.lex.c
*.tab.cpp
*.tab.hpp
*.swp
*.dox
*.pyc
Makefile_jsc_dirs
.DS_Store
bin/trick-ICG
bin/trick-fxplot
bin/trick-gxplot
bin/trick-trk2ascii
bin/trick-trk2csv
bin/trick-trkConvert
aclocal.m4
autom4te.cache
trick_test
gmon.out
*init_log.csv*
trick_source/web/CivetServer/obj/
trick-offline
*sim_services_classes.resource
civetweb_clone/
include/civet/
.vscode/
civet_server_error.log
server.pem
archive/
.venv
trickops_logs/
*.gcda
*.gcno
coverage.info
*.dSYM
*.log
